@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito-Italic";
  src: url("../fonts/Nunito-Italic.ttf");
}

body {
  margin: 0;
  font-family: "Nunito" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
