.refer {
  background: #111;
  /* border-left: 2px solid #cccccc; */
  padding: 60px;
  /* margin-top: 20px; */
  height: 100vh;
}

.refer-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* color: #000000; */
}

.refer-header h1 {
  font-size: 2.5rem;
  color: #ffffff;
}

.refer-header h2 {
  font-size: 30px;
  color: #888888;
}

.info-text {
  width: 100%;
  padding: 12px 20px;
  margin-right: 1rem;
    background: #393939;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
}

.info-text:focus {
  border: 3px solid #ed2553;
}

.name-input {
  width: 50%;
  border-radius: 6px;
  padding: 12px 20px;
  margin-right: 1rem;
  background: #393939;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
}

.name-input:focus {
  border: 3px solid #ed2553;
}

.paragraph-text {
  width: 80%;
  padding: 12px 20px;
  margin-right: 1rem;
  /* border: 1px solid #999999; */
  border-radius: 6px;
  box-sizing: border-box;
  resize: none;
}

.submit-button {
  width: 100%;
  margin-right: 1rem;
  background: #ed2553;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.submit-button:hover {
  background: #ce1f48;
}
