.refer {
  background: #111;
  /* border-left: 2px solid #cccccc; */
  padding: 60px;
  /* margin-top: 20px; */
  height: 100vh;
}

.refer-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* color: #000000; */
}

.refer-header h1 {
  font-size: 40px;
}

.refer-header h2 {
  font-size: 30px;
  color: #888888;
}

.info-text {
  width: 80%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  /* border: 1px solid #999999; */
  border-radius: 6px;
  box-sizing: border-box;
}

.paragraph-text {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  /* border: 1px solid #999999; */
  border-radius: 6px;
  box-sizing: border-box;
  resize: none;
}

.submit-button {
  width: 80%;
  background: #384e83;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
  font-size: 20px;
}

.submit-button:hover {
  opacity: 1;
}
